* {
    font-family: monospace;
}

/***** Header *****/

header {
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #474171;
}

.header__title {
    cursor: context-menu;
}

.header__title h2 {
    font-size: 22px;
    color: #fff;
}

nav ul {
    display: flex;
    gap: 16px;
}

nav ul li {
    list-style-type: none;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

/***** Main *****/

.user__data {
    max-width: 500px;
    margin: 4rem auto;
}

.user__data .user__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background: #47417105;
    border-bottom: 1px solid #47417136;
    margin-bottom: 0.3rem;
    transition: 0.2s;
    cursor: pointer;
}

.user__data .user__info:hover {
    background: #47417109;
}

.user__data .user__info p {
    font-size: 16px;
    font-family: system-ui;
    font-weight: 500;
}